@font-face {
	font-family: "Anaktoria-Font";
	src: url("http://localhost:5000/static/fonts/Anaktoria-Font.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* @import url("http://localhost:5000/static/css/fonts.css"); */

body {
	font-family: sans-serif;
	margin-bottom: 50vh;
}

button {
	margin: 0.5em 0.25em;
}

.result {
	min-height: 3em;
}

img {
	width: 30vw;
	margin-bottom: 1em;
}

#anaktoria-font-text {
	font-family: Anaktoria-Font, sans-serif;
	font-size: 30px;
}
